.auth {
  margin: auto;
  margin-top: 60px;
  max-width: 358px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 940px) {
  .auth {
    max-width: 260px;
    margin-top: 40px;
  }
}