.header {
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-top: 43px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 940px) {
  .header {
    padding-top: 28px;
  }
}



